:root {
    --header-color: #0056a5;
    --color-secundario: #a1d2fd ;
  }

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* variables de colores */

/* CABECERA */

header, footer{
    background-color: var(--header-color);
    text-align: center;
    font-size: 150%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}


header img{
    float: left;
    margin-left: 1%;
}

/* Animacion de enlaces */

header a {
    text-decoration: none;
    text-transform: none;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header a:hover, header a:focus {
    background-size: 100% 2px;
    transition: 0.5s;
    color: orange;
}



/* PIE DE PAGINA */
footer{
    font-size: 80%;
    color: white;

}

footer a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

footer img{
    margin-top: 1%;
    float: left;
    margin-left: 1.5%;
}

#ig{
    float: right;
    margin-right: 4%;
    margin-top: 0%;
}


/* MAIN */

.bandera{
    width: 100%;   
}
.ruta{
    padding-left: 1%;
    margin-right: 87%;
    font-size: 80%;
    border-bottom: solid black;
    border-right: solid black;
}


/* FORMULARIOS SUBMENU */

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.boton{
    padding-top: 2%;
    background: none;
    border: 0;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.boton:hover, .boton:focus {
    background-size: 100% 2px;
    transition: 0.5s;
    color: orange;
}



/* MAIN DEL PROGRAMA */


/* DESTACADOS/FAVORITOS */
.coches{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.favoritos{
    border: solid rgba(161, 210, 253, 1) 3px;
    text-align: center;
    padding: 1%;
    margin: 2%;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    width: 400px;

}


.favoritos img{
    border-radius:2%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 300px;
    height: 300px;

}

.descripcion{
    text-align: justify;
    margin: 10px;
}


/* ENLACE MAS, CAJA DE FUERA Y ENLACE DE DENTRO */

.mas_box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 90px;
}


.mas {
    --b: 0.1em;
    --c: #0056a5;
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .mas:hover {
    --_p: 100%;
    --_s: .3s;
  }
  


/* SOBRE NOSOTROS */

#contenido_nosotros{
    margin: 3%;
    margin-left: 25% ;
    margin-right: 25% ;
    text-align: justify;

}


#proyectos_enlace{
    text-decoration: none;
    color: #0056a5;
}


/* Servicio tecnico */

.st p{
    margin-left: 25% ;
    margin-right: 25% ;
    margin-bottom: 2%;
    text-align: justify;
    border: #a1d2fd solid 3px;
    padding: 2%;

}

#h2st{
    text-align: center;
    margin-top: 2%;
}

.st>p>a{
    text-decoration: none;
    color: #0056a5;
}
