body{
    margin: 0%;
}

div{
    width: 100%;
}

/* CABECERA */

header, footer{
    background-color: rgba(0, 86, 165, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 150%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

header a{
    padding-right: 2%;
    text-decoration: none;
    text-transform: none;
    color: white;
}

img{
    float: left;
    margin-left: 1%;
}


/* PIE DE PAGINA */
footer{
    font-size: 80%;
    color: white;

}

footer a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

footer img{
    margin-top: 1.5%;
}

#ig{
    float: right;
    margin-right: 2%;
}